<!-- Products -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Products</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <app-product-form (productCreated)="onProductCreated($event)"></app-product-form>
      <div *ngIf="products.length > 0">
        <button name="changeFirst" type="button" class="btn btn-warning" (click)="onChangeFirst()">
          Change First
        </button>
        <button name="deleteFirst" type="button" class="btn btn-danger" (click)="onDeleteFirst()">
          Delete First
        </button>
      </div>
    </div>

    <div class="col-sm-7">
      <input type="text" placeholder="Search..." class="form-control" [(ngModel)]="searchText" />
      <br>
      <app-product-detail [product]="p" *ngFor="let p of products | searchProducts : searchText : 'description'">
        <p>
          Discount Code:
          <strong style="color: green">{{ discountCode }}</strong>
        </p>
      </app-product-detail>
    </div>
  </div>
</div>
